
//variaveis

    // Cores
$primary-color: #1770cf;
$text-color1: white;
$text-color2: #333333;
$background-color: white;

    // Fontes
$font-family: 'Montesserrat', sans-serif;
$heading-size: 1.5rem;
$text-size: 1rem;

   // Espaçamento
$padding-default: 16px;
$margin-default: 16px;



//GERAL
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  color: $text-color2;
  background-color: $background-color;
  padding-top: 130px;
}

a{
  text-decoration: none;
  color: inherit;
}
ul{
  list-style-type: none;
}

//header
header {
  color: $text-color1;
  position: fixed;
  top:0;
  width: 100%;
  z-index: 1000;

  #information {
    background-color: orange;
    color: $text-color2;
    overflow: hidden;
    white-space: nowrap;
    font-size: medium;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;

    h6 {
      display: inline-block;
      font-size: 17px;
      margin-right: 25px;
      margin-left: 10px;
    }

    .container_rolante {
      display: flex;
      overflow: hidden;
      white-space: nowrap;
      flex: 1;

      .item {
        display: flex;
        align-items: center;
        white-space: nowrap;
        animation: rolarTexto 25s linear infinite;
        margin-right: 20px;

        a {
          display: flex;
          align-items: center;
        }
      }
    }
  }

  nav {
    background-color: $primary-color;
    padding: 25px;
    display: flex;
    justify-content: space-between;

    .menu1 {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      .menu-img {
        height: 35px;
        width: fit-content;
        margin-left: 10px;
      }

      .menu-options {
        margin-left: 20px;
        list-style: none;
        display: flex;

        a{
          font-weight: bold;
          position: relative;

          &::before { 
            content: ''; 
            position: absolute; 
            width: 0; 
            height: 2px;
            bottom: -5px; 
            left: 50%; 
            background-color: white;
            transition: width 0.3s ease-in-out, left 0.3s ease-in-out; 
          }
             
          &:hover::before { 
            width: 100%; 
            left: 0;
          }
        }

        li {
          padding-left: $padding-default;

          #submenu1,
          #submenu2,
          #submenu3,
          #submenu4 {
            display: none;
          }
        }
      }
    }

    .menu2 {
      display: flex;
      justify-content: flex-end;

      button {
        background-color: transparent;
        border: none;
        color: $text-color1;
        margin-left: 20px;
      }

      img {
        height: 25px;
        width: 25px;
      }
    }
  }
}

//rolagem de texto animaçao
@keyframes rolarTexto { 
  0% { transform: translateX(250%);} 
  100% { transform: translateX(-200%);}
}


//Corpo
.capa
{
  width: 100%;
  height:700px;
  background-image: url(./img/rome-tripoli.jpg);
  background-size: cover;
  position: relative;
  margin: 0 0 60px 0;
}
#container-capa
{
  width: 550px;
  height: 200px;
  background-color: #1770cf;
  border-radius: 0px 0px 200px 0px;
  padding: 30px 80px 30px 30px;
  position: relative;
  position: absolute;
  bottom: 150px;
}
#search-div
{
  display: flex;


  justify-content: center;
}
#search-button
{
  width: 100%;
  height: 50px;
  border-radius: 6px;
  border-color: #0171CF;
  color: white;
  background-color:#1770cf;
  position: relative;
}
.capa select
{
  border: none;
  background: none;
}
#capa2, #capa3, #capa4
{
  display: none;
}
.info-capa
{
  color: white;


}
.info-capa h1
{
  font-size:1.8em;
  font-weight:600;
  padding: 5px;
}
.info-capa h2
{
  font-size:1.3em;
  font-weight: normal;
  padding: 5px;


}
.info-capa h3
{
  font-size:1em;
  font-weight: normal;
  padding: 5px;




}
h3 img
{
  width: 3%;
  height: 8%;
}
.form-container
{
  background-color: #f5faff;
  width: 470px;
  height: 530px;
  border-radius: 8px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  padding: 12px;
  overflow: hidden;
  position: absolute;
  right: 100px;
  bottom: 100px;
  display: flex;
  flex-direction: column;
}
.form-container div
{
  margin: 22px 10px;
}
.form-container p
{
  margin: 3px;
}
.form-container input
{
  border: none;
  background: none;
}
.form-container hr
{
  margin: 3px;
}
#passangers
{
  width: 100%;
  border: none;
  background: none;
  position: relative;
  font-size: 1em;
  text-align: left;
}
#passangers img
{
  position: absolute;
  right: 10px;
  width: 10px;
}
#points img{
  width: 15px;
}
.select-capa
{
  position: absolute;
  bottom: 0px;
  width: 1000px;
  height: 40px;
  padding: 0px 60px ;
  background-color: white;
  border-radius: 0px 10px 0px 0px;
  display: flex;
  justify-content: space-between;
  color:#333333;
}
.select-capa button
{
  padding:10px;
  border: none;
  background: none;
  color: #7f7f7faa;
  font-weight: 600;
}
.select-form button
{
  border: none;
  background: none;
  color: #7f7f7faa;
  font-weight: 600;
}
.select-form
{
  display: grid;
  grid-template-columns: repeat(4, 80px);
  padding:2px 30px;
  justify-content: space-between;
}
#check-in, #manage-flights, #passangers-form, #estado-do-voo
{
  display: none;
}
.best-offers-header h1
{
  text-align: center;
  margin: 20px;
}
.best-offers-header select{
  border: none;
  background: none;
  color: #0171CF;
  font-size:30px;
  font-weight: 600;
}
.best-offers-grid
{
    display:flex;  
    justify-content:center;
    margin:0px;
    gap: 0.5%;
}
.italy, .europe, .world
{
  width: 380px;
}
.world li, .europe li, .italy li
{
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    background-color: white;
    color: rgb(44, 44, 44);
    width: 100%;
    height:100px;
    padding:10px;
    border: lightgrey 1px solid;
    border-radius: 6px;
    box-shadow: 0px 2px 10px gray;
    margin:25px;
    position: relative;
}
.world li p, .europe li p, .italy li p
{
  position: absolute;
  bottom: 5px;
  right: 10px;
  color: #0171CF;
  font-weight: 500;
  font-size: 22px;
}




.world li h1, .europe li h1, .italy li h1
{
  color: white;
  text-align: center;
  text-decoration: none;
  font-weight: 100;
}
.world li h2, .europe li h2, .italy li h2
{
  position: absolute;
  bottom: 55px;;
  left: 10px;
  font-weight: 530;
  font-size:17px;
}
.world li h3, .europe li h3, .italy li h3
{
  position: absolute;
  bottom: 5px;
  left: 10px;
  font-weight: 200;
  font-size: 15px;
}
.italy h1, .world h1, .europe h1
{
  text-align: center;
}
 .italy #catania, .world #new-york, .europe #athenes
{
  width: 100%;
  height: 250px;
}
.best-offers-grid button
{
  width: 100%;
  height: 40px;
  border-radius: 6px;
  border-color: #0171CF;
  color: #1770cf;
  background-color: white;
  align-items: center;
  margin: 25px;
}
#catania
{
    background-image: url(./img/catania.png);
    background-repeat: no-repeat;
    background-size: 100% 65%;
}
#athenes
{
    background-image: url(./img/athenes.jpg);
    background-repeat: no-repeat;
    background-size: 100% 65%;
}
#new-york
{
    background-image: url(./img/newyork.jpg);
    background-repeat: no-repeat;
    background-size: 100% 65%;
}
.suggestions-header
{
  text-align: center;
  padding: 30px;
}
.suggestions-grid
{
    display: grid;
    grid-template-columns: repeat(5, 175px);
    gap: 5%;
    justify-content: center;
    margin: 0 auto;
}
.suggestion-options img
{
    border-radius: 150px 0 150px 0;
    width: 100%;
}
/*-------------------------*/
#container-offers
{
  background-color: rgba(208, 220, 229, 0.288);
}
.check-offers
{
    padding: 40px 20px;
    margin: 2% 15%;
}
.offers-header h1
{
    font-size: 2em;
    color: #003366;
    margin-bottom: 10px;
}
.offers-header p
{
    font-size: 1em;
    color: #666;
    margin-bottom: 30px;
}
.offers-grid
{
    display: grid;
    grid-template-columns: repeat(4, 350px);
    justify-content: space-between;
}
.offer
{
  width: 95%;
  margin: 0;
}
.offer img
{
    width: 100%;
    height:75% ;
}
.offer a
{
    font-size: 0.9em;
    color: gray;
    text-decoration: none;
  }
.our-partners
{
  margin:2% 15%
}


.partners-grid
{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 400px);  
    justify-content:space-between ;


}
.partners img
{
    width: 100%;
    height:60% ;
    margin-bottom: 10px;
}
#part-but
{
  display: flex;
  justify-content: center;
}
.our-partners button
{
  width: 25%;
  height: 40px;
  border-radius: 6px;
  border-color: #0171CF;
  color: #1770cf;
  background-color: white;
}


//Footer
footer {
  background-color: $primary-color;
  color: $text-color1;
  padding-left: 150px;
  padding-right:150px;
  display: flex;
  flex-direction: column;
  padding-top: 70px;
  border-top:#003366 5px solid;


  .linha2{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    ul{
      display: flex;
      justify-content: space-between;
      width: 100%;

      .titulo{
        align-items: center;
        box-shadow: 0 2px 0 rgba(255, 255, 255, 0.2);
      }

      li{
        display:inline-block;
        margin:20px;
        
        ul{
          display:flex;
          flex-direction: column;
          line-height: 0.4;
          font-weight: bold;
        }
      }
    }
  }
  

  .linha3{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:15px;

    .download{
      display:flex;
      justify-content: flex-start;

      img{
        height:50px;
        width: 150px;
        object-fit: cover;
      }
    }
    .social-media{
      display:flex;
      justify-content: flex-end;
      
      img{
        height: 25px;
        width: 25px;
        object-fit: cover;
      }
    }
  }

  p{
    padding:15px;
    font-size: small;
    text-align: center;
    box-shadow: 0 -2px 0  rgba(255, 255, 255, 0.2),
                0 2px 0 rgba(255, 255, 255, 0.2);
  }
}

