/*PARTE GERAL DO SITE*/
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding:0;
    background-color: #f8f9fc;
    color: #333;
    }

ul{
    list-style: none;
}

/*HEADER DO SITE*/

header{
    background-color: black;
    color:white;
}

/*PARTE MENU DO SITE*/
nav{
    background-color: #007bff;
    color: white;
}

#submenu1, #submenu2, #submenu3, #submenu4{
    display: none; /*Fazer com que fique escondido até o mouse passe por cima*/
}


/*CONTEÚDO DO SITE*/
.corpo{
}


/*PARTE FINAL DO SITE*/
footer{
    background-color: #007bff;
    color: white;
    display: flex;
    justify-content: center; /*FAZER SASS PARA O RESTO COM GRIDD*/
}



