body{
    margin:0;
}

ul{
    list-style: none;
}

nav{
    background-color: blue;
    color: white;
}



#submenu1, #submenu2, #submenu3, #submenu4{
    display: none;
}

footer{
    background-color: blue;
    color: white;
}



