* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial, sans-serif";
  color: #333333;
  background-color: #f5f5f5;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

header {
  color: white;
}
header #information {
  background-color: orange;
  color: #333333;
  font-size: medium;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}
header #information h6 {
  font-size: 17px;
  margin-right: 25px;
  margin-left: 10px;
}
header #information a {
  display: flex;
  align-content: center;
  margin-right: 20px;
}
header nav {
  background-color: #1770cf;
  padding: 25px;
  display: flex;
  justify-content: space-between;
}
header nav .menu1 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
header nav .menu1 .menu-img {
  height: 35px;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 10px;
}
header nav .menu1 .menu-options {
  margin-left: 20px;
  list-style: none;
  display: flex;
}
header nav .menu1 .menu-options li {
  padding-left: 16px;
}
header nav .menu1 .menu-options li #submenu1, header nav .menu1 .menu-options li #submenu2, header nav .menu1 .menu-options li #submenu3, header nav .menu1 .menu-options li #submenu4 {
  display: none;
}
header nav .menu2 {
  display: flex;
  justify-content: flex-end;
}
header nav .menu2 button {
  background-color: transparent;
  border: none;
  color: white;
  margin-left: 20px;
}
header nav .menu2 img {
  height: 25px;
  width: 25px;
}

.capa {
  background-image: url(./img/rome-tripoli.jpg);
}

.best-offers-grid {
  display: flex;
  justify-content: center;
  margin: 0px;
  gap: 0.5%;
  font-family: "Montserrat", sans-serif;
}
.best-offers-grid .italy, .best-offers-grid .europe, .best-offers-grid .world {
  width: 380px;
}

.world li, .europe li, .italy li {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  background-color: white;
  color: rgb(44, 44, 44);
  width: 100%;
  height: 100px;
  padding: 10px;
  border: lightgrey 1px solid;
  border-radius: 6px;
  box-shadow: 0px 2px 10px gray;
  margin: 25px;
  position: relative;
}

.world li p, .europe li p, .italy li p {
  position: absolute;
  bottom: 5px;
  right: 10px;
  color: #0171CF;
  font-weight: 500;
  font-size: 22px;
}

.world li h1, .europe li h1, .italy li h1 {
  color: white;
  text-align: center;
  text-decoration: none;
  font-weight: 100;
}

.world li h2, .europe li h2, .italy li h2 {
  position: absolute;
  bottom: 55px;
  left: 10px;
  font-weight: 530;
  font-size: 17px;
}

.world li h3, .europe li h3, .italy li h3 {
  position: absolute;
  bottom: 5px;
  left: 10px;
  font-weight: 200;
  font-size: 15px;
}

.italy h1, .world h1, .europe h1 {
  text-align: center;
}

.italy #catania, .world #new-york, .europe #athenes {
  width: 100%;
  height: 250px;
}

#catania {
  background-image: url(./img/catania.png);
  background-repeat: no-repeat;
  background-size: 100% 65%;
}

#athenes {
  background-image: url(./img/athenes.jpg);
  background-repeat: no-repeat;
  background-size: 100% 65%;
}

#new-york {
  background-image: url(./img/newyork.jpg);
  background-repeat: no-repeat;
  background-size: 100% 65%;
}

.suggestions-grid {
  display: grid;
  grid-template-columns: repeat(5, 175px);
  gap: 5%;
  justify-content: center;
  margin: 0 auto;
}

.suggestion-options img {
  border-radius: 150px 0 150px 0;
  width: 100%;
}

.check-offers {
  background-color: #f5faff;
  padding: 40px 20px;
}

.offers-header h1 {
  font-size: 2em;
  color: #003366;
  margin-bottom: 10px;
}

.offers-header p {
  font-size: 1em;
  color: #666;
  margin-bottom: 30px;
}

.offers-grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 400px);
  gap: 5%;
  justify-content: center;
}

.offer img {
  width: 90%;
  height: 75%;
  margin-bottom: 10px;
}

.offer a {
  font-size: 0.9em;
  color: gray;
  text-decoration: none;
}

.partners-grid {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  gap: 1.5%;
  justify-content: center;
}

.partners img {
  width: 90%;
  height: 75%;
  margin-bottom: 10px;
}

footer {
  background-color: #1770cf;
  color: white;
  padding-left: 150px;
  padding-right: 150px;
  display: flex;
  flex-direction: column;
  padding-top: 70px;
  border-top: #003366 5px solid;
}
footer .linha2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
footer .linha2 ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
footer .linha2 ul .titulo {
  align-items: center;
  box-shadow: 0 2px 0 rgba(255, 255, 255, 0.2);
}
footer .linha2 ul li {
  display: inline-block;
  margin: 20px;
}
footer .linha2 ul li ul {
  display: flex;
  flex-direction: column;
  line-height: 0.4;
  font-weight: bold;
}
footer .linha3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
footer .linha3 .download {
  display: flex;
  justify-content: flex-start;
}
footer .linha3 .download img {
  height: 50px;
  width: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}
footer .linha3 .social-media {
  display: flex;
  justify-content: flex-end;
}
footer .linha3 .social-media img {
  height: 25px;
  width: 25px;
  -o-object-fit: cover;
     object-fit: cover;
}
footer p {
  padding: 15px;
  font-size: small;
  text-align: center;
  box-shadow: 0 -2px 0 rgba(255, 255, 255, 0.2), 0 2px 0 rgba(255, 255, 255, 0.2);
}/*# sourceMappingURL=estilos.css.map */